<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="form-label">name</div>
    <%= form.text_field :name %>
  </div>

  <div class="form-container">
    <div class="form-label">id</div>
    <%= form.text_field :discogs_artist_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= link_to "<< go back", artists_path, class: "back" %>
<% end %>
