<%= link_to "<< go back", root_path, class: "back" %>

<% @artist.releases.sort_by(&:year).reverse!.each do |release| %>
  <%= link_to release.uri, class: "artist-releases" do %>
    <p>
      <% if release.thumb.presence %>
        <img src="<%= release.thumb %>"/>
      <% end %>
      <div>title: <%= release.title %></div>
      <div>year: <%= release.year %></div>
    </p>
  <% end %>
<% end %>