<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>There are <%= @releases.size %> new releases waiting for you!</p>
    <p>
      <% @releases.each do |release| %>
        <p>
        <% if release.thumb.presence %>
          <img style="height: 75px; width: 75px;" src="<%= release.thumb %>"/>
          <br/>
        <% end %>
          <a href="https://api.discogs.com/releases/<%= release.discogs_release_id %>">
            <strong><%= release.title %></strong> by <%= release.artist.name %>
          </a>
        </p>
      <% end %>
    </p>
  </body>
</html>